.container-agency {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  opacity: 0;
  font-weight: lighter;
}

.logo-agency-page {
  position: absolute;
  top: 0;
  left: 0;
}

.agency-intro {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .logo-agency-page {
    width: 150px;
  };
  .container-agency {
    font-size: 2.6vh;
  };
  .agency-intro {
    width: 90%;
  }
};

@media screen and (max-width: 600px) {
  .logo-agency-page {
    width: 150px;
  };
  .container-agency {
    font-size: 1.8vh;
  };
};

@media screen and (max-width: 400px) {
  .logo-agency-page {
    width: 150px;
  };
  .container-agency {
    font-size: 1.6vh;
  };
};
