.container-contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  opacity: 0;
  font-weight: lighter;
}


.logo-contact-page {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-intro {
  width: 50%;
}

.flex-box-contact {
  display: flex;
  flex-direction: column;
}
