body, html {
  height: 100%;
}

path {
  fill: none;
  stroke: #000 !important;
  stroke-dashoffset: 1800 !important;
}

rect {
  width: 0.5;
  height: 11.3;
  fill: none;
  stroke: #000 !important;
  stroke-dashoffset: 1800 !important;
}

#Calque_2 {
  fill: #000;
}

.banner-index {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
}

#logo {
  width: 350px;
}

.info-opb-right {
    font-weight: lighter;
  a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
  };
  ul {
    list-style: none;
    padding: 20px 0;
  };
  li {
    display: inline-flex;
    padding: 0 15px;
    transition: all 1s;
    .nav-item {
      overflow: hidden;
      span {
        position: relative;
      }
    }
  };
  i {
    visibility: hidden;
  };
}
////////////////////
.arrow-circle {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 30px;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    bottom: 20px;
  }
}

.arrow-down {
  width: 25px;
  height: 25px;
  border-right: 2px solid rgba(0,0,0,1);
  border-bottom: 2px solid rgba(0,0,0,1);
  transform: rotate(45deg);
  margin: 0 auto;
  // transition: all 0.2s;
}

.arrow-down-animated {
  width: 17px;
  height: 17px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(45deg) !important;
  margin: 0 auto;
  position: relative;
  top: 15px;
  transition: all 0.2s;
}
