.projects-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  // overflow: auto;
}


.projects-container {
  width: 100vw;
  position: absolute;
  left: 100vw;
}

.title-project {
  margin-top: 0;
}

.content-project {
  font-size: 16px;
}

.logo-projects-section {
  position: absolute;
  top: 0;
}

.projects-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.project-presentation {
  padding: 0 140px;
  background-color: #f4f4f4;
}

.image-active {
  height: 275px;
  text-align: center;
  img {
    max-height: -webkit-fill-available;
  }
}

.images-mozaic {
  padding: 20px 15px;
  img {
    height: 100px;
  }
}

.image-mozaic-box {
  padding: 0;
}
