.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin: 5px;
  }
}

.images-container {
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image-active {
  margin: 0 auto;
}

.images-mozaic {
  display: flex;
  justify-content: center;
}

.mySlides {
  display:none
}

.demo {
  cursor:pointer
}
