<div class="container-agency">
  <%= image_tag("LOGO-FINAL-01.png", :alt => "logo-opb", width: 250, class: 'logo-list-projects') %>
  <div class="agency-intro">
    <h3>L'agence</h3>
    <br>
    <p><%= @agency.text %></p>
  </div>
</div>
