<div class="container-agency" id="agency">
  <%= image_tag("LOGO-FINAL-01.png", :alt => "logo-opb", width: 250, class: 'logo-agency-page') %>
  <span class="close-button" id="closing-cross-agency"></span>
  <div class="agency-intro">
    <h3>L'agence</h3>
    <p><%= @agency.text %></p>
  </div>
</div>
