<div class="info-opb-right navbar">
  <ul>
    <li><i class="fas fa-plus-circle agence-nav"></i> <div class="nav-item"><span class="nav-label"> Agence</span></div></li>
    <li><i class="fas fa-plus-circle projets-nav"></i> <div class="nav-item"><span class="nav-label"> Projets</span></div></li>
    <li><i class="fas fa-plus-circle contact-nav"></i> <div class="nav-item"><span class="nav-label"> Contact</span></div></li>
  </ul>
</div>

<div class="custom-dropdown navbar">
  <i class="fa fa-bars" id="icon-dropdown" style="font-size: 40px;"></i>
  <ul id="list-dropdown">
    <li><i class="fas fa-plus-circle agence-nav"></i> <div class="nav-item"><span class="nav-label"> Agence</span></div></li>
    <li><i class="fas fa-plus-circle projets-nav"></i> <div class="nav-item"><span class="nav-label"> Projets</span></div></li>
    <li><i class="fas fa-plus-circle contact-nav"></i> <div class="nav-item"><span class="nav-label"> Contact</span></div></li>
  </ul>
</div>

<div id="fullpage">
  <div class="banner-index section" data-index-section="0">
    <div class="info-opb-left">
      <%= render 'shared/logo_final' %>
    </div>
  </div>
  <%= render 'shared/projects' %>
</div>
