
<div class="banner">
  <% @projects.each do |project| %>
    <% project.images.each do |image| %>
      <div class="image-project-home-container" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('<%= cl_image_path image.url %>');">
        <a href="/">
          <%= render 'shared/logo' %>
        </a>
        <h2><%= project.title %></h2>
        <h3><%= project.description %></h3>
      </div>
    <% end %>
  <% end %>
</div>















