<div class="banner-index">
  <div class="info-opb-left">
    <%= render 'shared/logo_final' %>
  </div>
  <div class="info-opb-right">
    <ul>
      <li><a href="#"><i class="fas fa-plus-circle"></i></a> <div class="nav-item"><span class="nav-label"> L'agence</span></div></li>
      <li><a href="#"><i class="fas fa-plus-circle"></i></a> <div class="nav-item"><span class="nav-label"> Les projets</span></div></li>
      <li><a href="#"><i class="fas fa-plus-circle"></i></a> <div class="nav-item"><span class="nav-label"> Contact</span></div></li>
    </ul>
  </div>
  <div class="arrow-circle">
      <div class="arrow arrow-down-animated"></div>
    <div class="arrow arrow-down"></div>
  </div>
</div>
<%= render 'shared/projects' %>
