<div class="container">

  <div class="box-logo">
    <img src="images/LOGO-FINAL-01.png" alt="logo-opb" class="logo-coming" />
  </div>


  <div class="box-contact">
    <ul class="contact-details">
      <li><a href="mailto:opb.architecte@gmail.com" class="bold">opb.architecte@gmail.com</a><li>
        <br>
      <li>Lot arbucetta</li>
      <li>Lieu <span id="secret">dit</span> Ceppe</li>
      <li>Biguglia 20620<li>
        <br>
      <li><a href="tel:+33495484722" class="bold">O4 95 48 47 22</a></li>
      <li><a href="tel:+33621982910" class="bold"></i>06 21 98 29 10</a></li>
    </ul>
  </div>

  <div class="box-construction">
    <p id="construction">Site bient&ocirc;t disponible</p>
    <%= link_to 'Entrer quand même', home_path %>
  </div>

</div>
