/* Arrow down */
.arrow-down-circle {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 15px;
  width: 60px;
  height: 60px;
  transition: all 0.2s;
  z-index: 999;
  &:hover {
    cursor: pointer;
    bottom: 10px;
  }
}

.arrow-down {
  width: 25px;
  height: 25px;
  border-right: 2px solid rgba(0,0,0,1);
  border-bottom: 2px solid rgba(0,0,0,1);
  transform: rotate(45deg);
  margin: 0 auto;
}

.arrow-down-animated {
  width: 17px;
  height: 17px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(45deg) !important;
  margin: 0 auto;
  position: relative;
  top: 15px;
  transition: all 0.2s;
}

/* Arrow up */
.arrow-up-circle {
  position: absolute;
  left: calc(50% - 30px);
  top: 15px;
  width: 60px;
  height: 60px;
  transition: all 0.2s;
  z-index: 9;
  transform: rotate(180deg);
  &:hover {
    cursor: pointer;
    top: 10px;
  }
}

.arrow-up {
  width: 25px;
  height: 25px;
  border-right: 2px solid rgba(0,0,0,1);
  border-bottom: 2px solid rgba(0,0,0,1);
  transform: rotate(45deg);
  margin: 0 auto;
}

.arrow-up-animated {
  width: 17px;
  height: 17px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(45deg) !important;
  margin: 0 auto;
  position: relative;
  top: 15px;
  transition: all 0.2s;
}

/* Arrow top directly */
.arrow-top-0 {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9;
  transform: rotate(180deg);
  transition: all 0.2s;
  p {
    transform: rotate(180deg);
    padding: 20px;
  }
  &:hover {
    cursor: pointer;
    bottom: 15px;
  }
}

/* Arrow left */
.arrow-left-circle {
  display: flex;
  align-items: center;
  position: fixed;
  top: calc(50% - 30px);
  left: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.2s;
  z-index: 999;
  &:hover {
    cursor: pointer;
    left: 10px;
  }
}

.arrow-left {
  width: 18px;
  height: 18px;
  border-right: 2px solid rgba(0,0,0,1);
  border-bottom: 2px solid rgba(0,0,0,1);
  transform: rotate(135deg);
  position: relative;
  left: 5px;
}

.arrow-left-animated {
  width: 13px;
  height: 13px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(135deg) !important;
  position: relative;
  transition: all 0.2s;
}

/* Arrow right */
.arrow-right-circle {
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  top: calc(50% - 30px);
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.2s;
  z-index: 999;
  &:hover {
    cursor: pointer;
    right: 10px;
  }
}

.arrow-right {
  width: 18px;
  height: 18px;
  border-right: 2px solid rgba(0,0,0,1);
  border-bottom: 2px solid rgba(0,0,0,1);
  transform: rotate(315deg);
  right: 5px;
}

.arrow-right-animated {
  width: 13px;
  height: 13px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(315deg) !important;
  position: relative;
  transition: all 0.2s;
}
